@model IEnumerable<Delphi.Models.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Company</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
        <tr>
            <td>@Html.ActionLink(ticket.Client.Name, "Edit", "Ticket", new { id = ticket.Id }, null)</td>
            
            @if (ticket.DateClosed < ticket.DateCreated)
            {
                <td>open</td>
            }
            else
            {
                <td>closed</td>
            }
        </tr>
        }
    </tbody>
</table>
