@model Delphi.ViewModel.ClientEngagementViewModel
@{
    ViewBag.Title = "TicketForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TicketForm</h2>
@using (Html.BeginForm("Create", "Ticket"))
{

}
