@model Delphi.ViewModel.ClientEngagementViewModel
@{
    ViewBag.Title = "TicketForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TicketForm</h2>
@using (Html.BeginForm("Create", "Ticket"))
{
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(m => m.Client)
            @Html.DropDownListFor(m => m.Client.StatusId, new SelectList(Model.Status, "Id", "Name"), "Select Status", new { @class = "form-control" })
        </div>
    </div>

}
