@model IEnumerable<Delphi.Models.Client>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Company</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@Html.ActionLink(client.Name, "Details", "Client", new { id = client.Id }, null)</td>
                <td>@client.Status.Name</td>
            </tr>
        }
    </tbody>
</table>
